html {
    scroll-behavior: smooth;
}

body {
    background-color: #dbf3fa;
}
.Card {
    border: 3px solid #000000;
    background-color: #3e9128;
    color: whitesmoke;
    padding: 10px;
    margin: 10px;
    
}

/**/
#bar_div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.items:hover {
    opacity: 0.5;
 }
img {
    width: 150px;
}
 a {
    width: 20%;
    text-align: center;
    text-decoration: none;
 }
 /**/

 .items {
     color: #000;
     font-size: 30px;
     font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
     font-weight: bold;
    
 }
 #Dog {
     display: flex;
 }

 .class1 {
     width: 50%;
 }
 #searchBar {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 35%;
    padding: 15px;
    border-radius: 10px;
    justify-content: center;
}
input[type=text] {
    width: 30%;
    -webkit-transition: width 0.01s ease-in-out;
    transition: width 0.15s ease-in-out;  
} 
input[type=text]:focus {
    width: 40%;
}
/*Button*/
.Butt {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.Butt:hover {
    background-color: #f1f1f1;
  }
/**/

#B {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(1,0,72,255);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  
  #B:hover {
    background-color: #1a1a5a;
  }

  p {
      font-size: 16px;
  }
  h1 {
      font-size: 28px;
  }